doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Static Top Navbar Example for Bootstrap
        // Bootstrap core CSS
        link(href='../lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        link(href='../../assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
        // Custom styles for this template
        link(href='navbar-static-top.css', rel='stylesheet')
        // Just for debugging purposes. Don't actually copy these 2 lines!
        //if lt IE 9
        link(href='/stylesheets/style.css', rel='stylesheet')
        .container
            form.form-signin(method="post" , name='createaccount' , action="/KKB/CreateAccount")
                h2.form-signin-heading enter your profile
                h1
                label.sr-only(for='id') Name
                input#name.form-control(type='name', name='name', placeholder='Name', required='', autofocus='')
                h1
                label.sr-only(for='id') Phone
                input#phone.form-control(type='phone', name='phone', placeholder='Phone', required='', autofocus='')
                h1
                label.sr-only(for='id') Old
                input#old.form-control(type='Old', name='old', placeholder='Old', required='', autofocus='')
                h1
                label.sr-only(for='id') Email address
                input#id.form-control(type='email', name='id', placeholder='Email address', required='', autofocus='')
                h1
                label.sr-only(for='id') Password
                input#pw.form-control(type='password' name='pw' , placeholder='Password', required='')
                h1
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Create