extends layout

block content
    .container
        form.form-signin(method="post" , name='file' , action="/KKB/file" ,enctype='multipart/form-data')
            h1
            input(type='file' name='fileupload')
            a(href='/file-upload/1459561119330_uuuu.jpg')사진
            a(href='/file-upload/1459561119330_uuuu.jpg')사진2
            a(href='/file-upload/1459561119330_uuuu.jpg')사진3
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Upload
