extends layout

block content
    .container
        form.form-signin(method="post" , name='writeboard' , action="/KKB/WriteBoard" enctype='multipart/form-data')
            h2.form-signin-heading WBoard
            h1
            label.sr-only(for='title') Title
            input#title.form-control(type='title', name='title', placeholder='Title', required='', autofocus='')
            h1
            label.sr-only(for='text') Text
            textarea#text.form-control(type='text', name='text',rows=10, placeholder='Text', required='', autofocus='')
            h1
            input(type='file' name='fileupload')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Upload
